In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import random

In [2]:
movie_path = 'dataset/movies_metadata.csv'

movies = pd.read_csv(movie_path)
movies.head()

C:\Users\8613902476582\AppData\Local\Temp\ipykernel_90436\1880891890.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv(movie_path)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
movies.isnull().sum().sort_values()

adult                        0
budget                       0
genres                       0
id                           0
original_title               0
production_countries         3
production_companies         3
popularity                   5
video                        6
title                        6
spoken_languages             6
revenue                      6
vote_count                   6
vote_average                 6
original_language           11
imdb_id                     17
release_date                87
status                      87
runtime                    263
poster_path                386
overview                   954
tagline                  25054
homepage                 37684
belongs_to_collection    40972
dtype: int64

In [4]:
movies = movies.dropna(subset=['overview', 'genres'])
movies.isnull().sum().sort_values()

adult                        0
budget                       0
genres                       0
id                           0
original_title               0
overview                     0
production_companies         3
production_countries         3
popularity                   5
video                        6
title                        6
spoken_languages             6
runtime                      6
revenue                      6
vote_count                   6
vote_average                 6
original_language           10
imdb_id                     15
status                      71
release_date                74
poster_path                346
tagline                  24108
homepage                 36747
belongs_to_collection    40077
dtype: int64

In [5]:
movies.duplicated(subset=['id', 'title']).sum()

30

In [6]:
movies_refined = movies.drop_duplicates(subset=['id', 'title'])
movies_refined.duplicated(subset=['id', 'title']).sum()

0

In [7]:
desired_columns = ['overview', 'genres']
movies_refined = movies.loc[:, desired_columns]
movies_refined.head()

,overview,genres
0,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]"

In [8]:
movies_refined['genres'] = movies_refined['genres'].str.replace("'", '"')
movies_refined.head()

,overview,genres
0,"Led by Woody, Andy's toys live happily in his ...","[{""id"": 16, ""name"": ""Animation""}, {""id"": 35, ""..."
1,When siblings Judy and Peter discover an encha...,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""..."
2,A family wedding reignites the ancient feud be...,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 35, ..."
3,"Cheated on, mistreated and stepped on, the wom...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam..."
4,Just when George Banks has recovered from his ...,"[{""id"": 35, ""name"": ""Comedy""}]"

In [9]:
def EDA_genres(genres):
    genre_list = json.loads(genres)
    
    all_genres = list(set(genre['name'] for genre in genre_list))
        
    return all_genres

In [10]:
movies_refined['AllGenres'] = movies_refined['genres'].apply(EDA_genres)

movies_refined.drop(['genres', ], axis=1, inplace=True)
movies_refined.head()

,overview,AllGenres
0,"Led by Woody, Andy's toys live happily in his ...","[Comedy, Family, Animation]"
1,When siblings Judy and Peter discover an encha...,"[Fantasy, Adventure, Family]"
2,A family wedding reignites the ancient feud be...,"[Comedy, Romance]"
3,"Cheated on, mistreated and stepped on, the wom...","[Comedy, Drama, Romance]"
4,Just when George Banks has recovered from his ...,[Comedy]

In [11]:
movies_refined['overview'] = movies_refined['overview'].str.strip()
movies_refined.head()

,overview,AllGenres
0,"Led by Woody, Andy's toys live happily in his ...","[Comedy, Family, Animation]"
1,When siblings Judy and Peter discover an encha...,"[Fantasy, Adventure, Family]"
2,A family wedding reignites the ancient feud be...,"[Comedy, Romance]"
3,"Cheated on, mistreated and stepped on, the wom...","[Comedy, Drama, Romance]"
4,Just when George Banks has recovered from his ...,[Comedy]

In [12]:
movies_refined.to_csv('dataset/movies_overview_genre.csv', index=False)